<div class="card" [appBorder]="data.snippet.publishedAt">
  <div class="card__image">
    <img class="card__img" [src]="data.snippet.thumbnails.medium.url" alt="">
  </div>

  <div class="card__icons">
    <ul class="card__list">
      <li class="card__icon"><img src="assets/images/viewed.png" alt="views"> {{data.statistics.viewCount}}</li>
      <li class="card__icon"><img src="assets/images/liked.png" alt="likes"> {{data.statistics.likeCount}}</li>
      <li class="card__icon"><img src="assets/images/dislike.png" alt="dislikes"> {{0}}</li>
      <li class="card__icon"><img src="assets/images/comments.png" alt="comments"> {{data.statistics.commentCount}}</li>
    </ul>
  </div>
  <p class="card__title" >{{ data.snippet.title }}<br> <span class="card__date">({{ data.snippet.publishedAt | date }})</span></p>

  <a class="card__button" title="{{data.snippet.description}}" routerLink="/youtube/result" routerLinkActive="active" [queryParams]="{id: data.id}">more...</a>
</div>
