.search-results {
  width: 100%;
  background-color: rgb(31, 32, 32);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #cccccc;
  padding: 20px;
}


